body {
    background-color:rgb(186, 238, 238); 
}
h1{
    color: rgb(2, 86, 86);
    text-align: center;
    font-family: monospace;
}
h3{
    color: rgb(2, 86, 86);
    text-align: center;
    font-family: monospace;
}
p{
    text-align: end;
    font-family: American Typewriter, serif;
    color: rgb(2, 86, 86);
    font-family: monospace;
}
  footer {
    color: #fff;
    padding: 20px;
    margin-top: 450px;
}
button{
    transition-duration: 0.4s;
    display:flex;
    margin-left: 100px;
    margin: 10px;
}
  
button:hover {
    background-color:rgb(2, 86, 86);
    color: white;
    font-size: 16px;
}

input[type=text] {
    height: 15px;
    margin: 5px;
}

.img{
    display: flex;
    margin-left: 10px;
    padding: 15px;
}
.sla{
    font-family: monospace;
    font-size:large;
    color: rgb(1, 43, 43);
    padding: 20px;
}